*body, html {
    margin: 0;
    padding: 0;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main: #A8DADC;           /* Main color (e.g., background, sections) */
    --button: #F4A261;         /* Button color */
    --button-hover: #e78a3c;   /* Optional: darker hover shade for button */
    --font-color: #000000;     /* Font color: black */
}

.planning-container {
    padding: 10px;
    margin-top: 30px;
    border-radius: 40px 50px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-pic>img {
    height: 220px;
    margin-left: 30px;
}

.right-para {
    width: 26vw;
    color: #1C274C;
    font-size: 17px;
    font-family: 'Preahvihear', sans-serif;
    line-height: 1.2;
}

.we-do {
    color: var(--orange);
    margin-bottom: 10px;
}

.card-container h2 {
    font-size: 20px;
    margin-top: 20px;
}

.adopt-section img {
    margin: 15px 0;
    max-width: 60%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.adopt-section ul {
    font-family: "Varela Round", sans-serif;
}

.adopt-section ol {
    font-family: "Varela Round", sans-serif;
    color: var(--darkGrey);
    list-style: none;
    padding-left: 20px;
}

.post-pet-section {
    text-align: center;
    padding: 50px;
}

.post-pet-section img {
    max-width: 60%;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: "Varela Round", sans-serif;
    color: var(--orange);
    font-size: 20px;
    margin-top: 20px;
}

.post-pet-section label {
    font-family: "Varela Round", sans-serif;
    color: var(--orange);
    font-weight: bold;
    display: block;
}

.main-container {
    display: flex;
}

.read-more-btn:hover {
    opacity: 0.8;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form-child-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.clickable-pet-name {
    display: inline;
    cursor: pointer;
    color: var(--orange);
}

.req-filter-selection {
    font-weight: bold;
    padding: 6px 5px;
    border-radius: 15px;
    color: var(--white);
    background-color: var(--orange);
    border: none;
}

.req-filter-selection:hover {
    cursor: pointer;
    background-color: var(--hoverorange);
    border: none;
}

.req-filter-selection:focus {
    outline: none;
}

.logout-btn {
    cursor: pointer;
}

.logout-btn:hover {
    color: rgb(186, 186, 186);
    margin-right: 4px;
    transition: all 0.3s ease;
}

.logo-container {
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 180px; /* smaller for balance */
    height: auto;
    margin: 0;    /* remove negative margin */
}


.logo-container > img {
    vertical-align: middle;
}


.logo-container>p {
    font-family: 'Oxygen', sans-serif;
    margin-left: 10px;
    font-size: 29px;
}


@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}



.planning-container {
    margin: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planning-container h1 {
    margin-top: 15px;
    color: var(--darkGrey);
    border-bottom: 3px solid var(--darkGrey);
    padding-bottom: 8px;
}

.boxes-container {
    padding: 0px 80px 0px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}




body {
    overflow-x: hidden;
}

.dark-grey-container {
    background-color: var(--main);
    width: 84vw;
    height: 180px;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    border-radius: 50px 50px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-pic {
    position: relative;
    bottom: 50px;
    width: 16vw;
}

.left-pic>img {
    height: 220px;
    margin-left: 30px;
}

.left-para {
    width: 26vw;
    color: var(--white);
    font-size: 30px;
    font-family: 'Preahvihear', sans-serif;
    line-height: 1.2;
    text-align: right;
    padding-right: 40px;
}

.adopted-pets-num {
    font-size: 40px;
    display: inline;
}

.right-pic>img {
    height: 200px;
    position: relative;
    bottom: 15px;
}

@media (max-width: 600px) {
    .right-pic, .right-para {
        display: none;
    }
}
.right-para {
    width: 26vw;
    color: #1C274C;
    font-size: 17px;
    font-family: 'Preahvihear', sans-serif;
    line-height: 1.2;
    text-align: left;
    padding-right: 30px;
    padding-left: 10px;
}

.we-do {
    color: var(--orange);
    margin-bottom: 10px;
}


.card-container {
    max-width: 25vw;
    width: 25vw;
    height: 200px;
    margin: 25px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container h2 {
    color: var(--orange);
    text-align: center;
    padding: 30px 0px 30px 0px;
}

.card-container p {
    text-align: center;
    font-size: 15px;
    color: var(--darkGrey);
}


.card-button {
    margin-top: 40px;
    border: 2px var(--orange) solid;
    height: 42px;
    width: 120px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    background-color: var(--white);
    color: var(--orange);
}

.card-button:hover {
    box-shadow: 1.5px 1.5px 3px var(--hoverorange);
    border: 2px var(--hoverorange) solid;
    background-color: var(--hoverorange);
    color: var(--white);
    transition: all 0.3s ease;
    cursor: pointer;
}



.adopt-section {
    text-align: center;
    padding: 50px;
}

.adopt-section h2 {
    font-family: "Varela Round", sans-serif;
    padding-bottom: 10px;
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
    font-size: 32px;
    margin-bottom: 20px;
}

.adopt-section img {
    margin: 15px 0;
    max-width: 60%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.adopt-section p {
    font-family: "Varela Round", sans-serif;
    color: var(--darkGrey);
    font-size: 16px;
    margin-bottom: 20px;
}

.adopt-section h3 {
    color: var(--orange);
    font-size: 20px;
    margin-top: 20px;
}

.adopt-section ul {
    font-family: "Varela Round", sans-serif;
    color: var(--darkGrey);
    list-style: none;
    padding-left: 20px;
}

.adopt-section ol {
    font-family: "Varela Round", sans-serif;
    color: var(--darkGrey);
    list-style: none;
    padding-left: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 16px;
    background-color: var(--orange);
    color: var(--white);
    text-decoration: none;
    border-radius: 100px;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none;
}

.cta-button:hover {
    background-color: var(--orange);
    cursor: pointer;
    transition: all 0.5s;
}

.post-pet-section {
    text-align: center;
    padding: 50px;
}

.post-pet-section h2 {
    font-family: "Varela Round", sans-serif;
    padding-bottom: 10px;
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
    font-size: 32px;
    margin-bottom: 20px;
}

.post-pet-section img {
    max-width: 60%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-pet-section p {
    font-family: "Varela Round", sans-serif;
    color: var(--darkGrey);
    font-size: 16px;
    margin-bottom: 20px;
}

.post-pet-section h3 {
    font-family: "Varela Round", sans-serif;
    color: var(--orange);
    font-size: 20px;
    margin-top: 20px;
}

.post-pet-section label {
    font-family: "Varela Round", sans-serif;
    color: var(--orange);
    font-weight: bold;
    display: block;
}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-pet-section input[type="text"],
.post-pet-section input[type="email"],
.post-pet-section input[type="tel"],
.post-pet-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
    margin: 7px 0;
}

.post-pet-section textarea {
    resize: vertical;
}

.filter-selection-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

.filter-selection-service select {
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    margin: 10px 0;
    border-radius: 100px;
    border: none;
    padding: 8px 8px;
    color: var(--white);
    background-color: var(--orange);
}

.cta-button {
    display: inline-block;
    padding: 10px 16px;
    background-color: var(--orange);
    color: var(--white);
    text-decoration: none;
    border-radius: 100px;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none;
    margin-top: 10px;
}

.cta-button:hover {
    background-color: var(--hoverorange);
    cursor: pointer;
    transition: all 0.5s;
}

.m-b {
    margin-bottom: 20px;
}

.file-input-label {
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    margin: 10px 0;
    border-radius: 100px;
    border: none;
    padding: 8px 20px;
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 165px;
    overflow: hidden;
    max-height: 33px;
}

.file-input-label:hover {
    background-color: var(--hoverorange);
}

.file-input {
    display: none;
}

.file-input-text {
    display: inline-block;
    color: var(--white);
    margin-right: 10px;
}

.pet-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-pet-container {
    display: flex;
    flex-direction: column;
}

.pet-details {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    border: 1px solid var(--orange);
    width: 310px;
    height: 120px;
    margin-bottom: 17px;
}

.pet-pic img {
    width: 150px;
    height: 120px;
    object-fit: cover;
}

.pet-info h2 {
    font-family: "Varela Round", sans-serif;
    color: var(--orange);
    text-align: center;
    margin: 5px 0;
}

.pet-info {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.pet-info p {
    font-family: "Varela Round", sans-serif;
    color: var(--orange);
}

.custom-adopt-form-container {
    text-align: center;
    padding: 50px;
}

.custom-form-heading {
    font-family: "Varela Round", sans-serif;
    padding-bottom: 10px;
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
    font-size: 32px;
    margin-bottom: 20px;
}

.custom-form img {
    max-width: 60%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.custom-form p {
    font-family: "Varela Round", sans-serif;
    color: var(--darkGrey);
    font-size: 16px;
    margin-bottom: 10px;
}

.custom-form h3 {
    font-family: "Varela Round", sans-serif;
    color: var(--orange);
    font-size: 20px;
    margin-top: 20px;
}

.custom-label {
    font-family: "Varela Round", sans-serif;
    color: var(--orange);
    font-weight: bold;
    margin-bottom: 3px;
    display: block;
}

.custom-input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
}

.custom-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
}

.custom-cta-button {
    display: inline-block;
    padding: 10px 16px;
    background-color: var(--orange);
    color: var(--white);
    text-decoration: none;
    border-radius: 100px;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none;
}

.custom-cta-button:hover {
    background-color: var(--hoverorange);
    cursor: pointer;
    transition: all 0.5s;
}

.custom-m-b {
    margin-bottom: 20px;
}

.login-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--hoverorange), var(--Lightorange));
}

.login-container {
    width: 300px;
    margin: auto auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.login-container h2 {
    font-size: 1.5rem;
    color: var(--orange);
    margin-bottom: 10px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input:focus {
    border: 1px solid var(--orange);
}

.login-container button {
    background-color: var(--orange);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-container button:hover {
    background-color: var(--hoverorange);
}

.error-message {
    color: #ff0000;
    font-size: 1rem;
    margin-bottom: 10px;
}

.form-card-details {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    padding: 5px 10px;
}

.form-card-details h2 {
    font-family: "Varela Round", sans-serif;
    color: var(--orange);
    text-align: center;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-card-details p {
    font-family: "Varela Round", sans-serif;
    color: var(--orange);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.app-rej-btn {
    display: flex;
    justify-content: space-evenly;
}

.app-rej-btn button {
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    margin: 10px 0;
    border-radius: 100px;
    border: none;
    padding: 8px 15px;
    color: var(--white);
    background-color: var(--orange);
    min-width: 90px;
}

.app-rej-btn button:hover {
    cursor: pointer;
    background-color: var(--hoverorange);
}

.close-btn {
    background-color: #ff1900;
    border: none;
    color: white;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}

.close-btn i {
    margin-left: 5px;
}

.read-more-btn {
    font-size: medium;
    cursor: pointer;
    font-weight: bold;
}

.read-more-btn:hover {
    opacity: 0.8;
}

.req-container {
    Display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form-child-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.clickable-pet-name {
    display: inline;
    cursor: pointer;
    color: var(--orange);
}

.req-filter-selection {
    font-weight: bold;
    padding: 6px 5px;
    border-radius: 15px;
    color: var(--white);
    background-color: var(--orange);
    border: none;
}

.req-filter-selection:hover {
    cursor: pointer;
    background-color: var(--hoverorange);
    border: none;
}

.req-filter-selection:focus {
    outline: none;
}

.logout-btn {
    cursor: pointer;
}

.logout-btn:hover {
    color: rgb(255, 255, 255);
    margin-right: 4px;
    transition: all 0.3s ease;
}