
 .home-content-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0 80px;
}

.btn-treatment, 
.btn-shop {
  background-color:  #f4a261;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  width: 80%;
}

.btn-treatment:hover, 
.btn-shop:hover{
  background-color: white;
  color: #f4a261 ;
  border: 2px solid;
}

/* Service Section */
.services-section {
  position: relative;
  padding: 5rem 1rem;
  background-color: white;
  overflow: hidden;
}

/* Light green box */
.background-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* height from top to mid */
  background-color: #d1f7d6; /* Light green */
  z-index: 0;
  border-radius: 10px;
}

/* Services content */
.services {
  position: relative;
  z-index: 1;
  text-align: center;
}

.services h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  z-index: 1;
  color: black;
  transform: translateY(25px);
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

/* Each card */
.service-card {
  background-color: rgba(255, 255, 255, 0.85); /* transparent white */
  padding: 2rem 1.5rem;
  border-radius: 10px;
  width: 140px;
  box-shadow: 0 4px 10px rgb(28, 39, 76);
  transition: transform 0.3s ease;
  transform: translateY(50px);
  border: 1px solid;
}

.service-card p {
  font-size: 1rem;
  padding-bottom: 5px;
}

.calender, .vaccination, .surgeries, .product {
  padding: 5px;
  width: 80px;
} 

.services,
.news-section,
.testimonials {
  display: block;
}

.news-section {
  margin: 50px 20px 0 20px;
}

.news-section h2,
.testimonials h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.news-cards,
.testimonial-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.news-card-left {
  border-radius: 10px;
  width: 30%;
  padding: 25px;
  background-color: rgb(224, 239, 205);
}

.news-cards-right {
  width: 50%;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.news-cards-below {
  gap: 15px;
  display: flex;
}

.news-card, .news-card-below {
  border-radius: 10px;
  padding: 25px;
  background-color: rgb(224, 239, 205);
}

.news-img-card {
  border-radius: 10px;
  padding: 10px;

}

.news-img-card img {
  width: 150px;
  border-radius: 10px;
}

.testimonial-card {
  background-color: #457B9D;
  padding: 2rem 1rem;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  color: white;
  justify-content: center;
}

.testimonial-card.highlight {
  background-color: white;
  border: #457B9D solid 1px;
  color: black;

}
