/* // src/UserProfilePage.css */
.user-profile {
  padding: 2rem;
  width: 80%;
  margin: auto;
}

.detail-container {
    display: flex;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.user-image-upload {
  margin-bottom: 15px;
}

.user-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 10px;
}

.user-details {
    width: 100%;
}

.user-details input, .pet-form input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

.cancel-btn, .save-btn, .add-pet {
    width: 40%;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.cancel-btn {
    border-color: #F4A261 !important;
    border: 2px solid;
    background-color: white;
}

.save-btn {
    background-color: #F4A261;
    border-color: #F4A261 !important;
    border: 2px solid;
}

.add-pet {
    background-color: #457B9D;
    border-color: #457B9D;
    border: 2px solid;
    color: white;
}

.create-pet-btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #F4A261;
    border-color: #F4A261 !important;
    border: 2px solid;
}

.pet-cards {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.pet-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 120px;
}

.pet-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}