.footer {
    background-color: rgb(168, 218, 220);
    color: var(--black);
    padding-top: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius:  20px;
}

.footer-content {
    text-align: center;
}

.mail-links {
    color: var(--black);
    text-decoration: none;
}

.mail-links:hover {
    text-decoration: underline;
}

.email-not-valid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.email-not-valid p {
    font-family: "Varela Round", sans-serif;
    color: rgb(231, 58, 58);
    font-size: 14px;
    margin-bottom: 5px;
}

.contact-links {
    color: var(--black);
    text-decoration: none;
    padding: 5px;
}

.contact-links:hover {
    background-color: var(--orange);
    color: var(--white);
    text-shadow: 2px 2px 2px var(--orange);
    text-decoration: none;
    border-radius: 20px;
}

.below-footer {
    background-color: var(--textGrey);
    color: var(--black);
    padding: 10px;
    text-align: center;
    line-height: 1.6;
}